{% extends "addressbook/base.html" %}

{% block content %}

{% if contact %}

{% if error_message %}<p xmlns="http://www.w3.org/1999/html"><strong>{{ error_message }}</strong></p>{% endif %}

<table align="center" border="0">
<form action="{% url 'addressbook:editpost' %}" method="post">
{% csrf_token %}
    <input type="hidden" name="id" id="id" value="{{ contact.id }}">

        <tr>
            <td align="right">
                <b>Фамилия:</b>
            </td>
            <td>
                <input type="text" name="lastname" id="lastname" value="{{ contact.lastname }}" maxlength= "{{ contact.lastname.max_length }}"/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Имя:</b>
            </td>
            <td>
                <input type="text" name="firstname" id="firstname" value="{{ contact.firstname }}" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Отчество:</b>
            </td>
            <td>
                <input type="text" name="fathername" id="fathername" value="{{ contact.fathername }}" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Организация:</b>
            </td>
            <td>
                <input type="text" name="company" id="company" value="{{ contact.company }}" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Отдел:</b>
            </td>
            <td>
                <input type="text" name="department" id="department" value="{{ contact.department }}" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>Должность:</b>
            </td>
            <td>
                <input type="text" name="position" id="position" value="{{ contact.position }}" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Email:</b>
            </td>
            <td>
                <input type="email" name="email" id="email" value="{{ contact.email }}" maxlength= "{{ contact.lastname.max_length }}"/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Телефон:</b>
            </td>
            <td>
                <input type="text" name="phone" id="phone" value="{{ contact.phone }}" maxlength= "{{ contact.lastname.max_length }}"/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Сотовый телефон:</b>
            </td>
            <td>
                <input type="text" name="cellphone" id="cellphone" value="{{ contact.cellphone }}" maxlength= "{{ contact.lastname.max_length }}"/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>Адрес:</b>
            </td>
            <td>
                <input type="text" name="address" id="address" value="{{ contact.address }}" maxlength= "{{ contact.lastname.max_length }}"/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>День рождения:</b>
            </td>
            <td>
                <input type="date" name="birthday" id="birthday" value="{{ contact.birthday|date:"Y-m-d" }}"/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>Активен:</b>
            </td>
            <td>
                <input type="checkbox" name="active" id="active" value="{{ contact.active }}" {% if contact.active %} checked {% endif %}/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <input type="submit" value="Сохранить"/>
            </td>
            <td>
                <input type="reset"/>
            </td>

</form>

<form action="{% url 'addressbook:delete' contact.id %}" method="post">
{% csrf_token %}
    <input type="hidden" name="id" id="id" value="{{ contact.id }}">

            <td align="right">
            <input type="submit" value='Удалить'/>
            </td>
                <td align="right">
            <input type="button" value="Назад" onclick="history.back()">
            </td>
        </tr>
    </table>
</form>
{% else %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'addressbook:editpost' %}" method="post">
{% csrf_token %}
    <input type="hidden" name="id" id="id" value="add_contact">
    <table align="center" border="0">
        <tr>
            <td align="right">
                <b>Фамилия:</b>
            </td>
            <td>
                <input type="text" name="lastname" id="lastname" value="" maxlength= "200"/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Имя:</b>
            </td>
            <td>
                <input type="text" name="firstname" id="firstname" value="" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Отчество:</b>
            </td>
            <td>
                <input type="text" name="fathername" id="fathername" value="" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Организация:</b>
            </td>
            <td>
                <input type="text" name="company" id="company" value="" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Отдел:</b>
            </td>
            <td>
                <input type="text" name="department" id="department" value="" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>Должность:</b>
            </td>
            <td>
                <input type="text" name="position" id="position" value="" maxlength=200/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Email:</b>
            </td>
            <td>
                <input type="email" name="email" id="email" value="" maxlength= "200"/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Телефон:</b>
            </td>
            <td>
                <input type="text" name="phone" id="phone" value="" maxlength= ""/>
            </td>
        </tr>
        <tr>
            <td align="right">
                <b>Сотовый телефон:</b>
            </td>
            <td>
                <input type="text" name="cellphone" id="cellphone" value="" maxlength= ""/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>Адрес:</b>
            </td>
            <td>
                <input type="text" name="address" id="address" value="" maxlength= ""/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>День рождения:</b>
            </td>
            <td>
                <input type="date" name="birthday" id="birthday" value=""/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <b>Активен:</b>
            </td>
            <td>
                <input type="checkbox" name="active" id="active" value=""/>
            </td>
        </tr>
        <tr>
            <td align="right">
            <input type="submit"/>
            </td>
            <td>
                <input type="reset"/>
            </td>
            <td align="right">
            <input type="button" value="Назад" onclick="history.back()">
            </td>
        </tr>
    </table>
</form>

{% endif %}
{% endblock content %}
