{% extends "addressbook/base.html" %}
{% load mathfilters %}
{% block content %}
<table border="0" align="center" cellspacing="5">

    <form action="{% url 'addressbook:index' %}" method="post" align="center">
        {% csrf_token %}
        <tr>
            <td>
                <input type="text" name="search_string" id="search_string" value="{{ search_string }}" maxlength="200"/>
            </td>
            <td>
                <input type="submit" value="Поиск"/>
            </td>

    </form>
    <form action="{% url 'addressbook:index' %}" method="post" align="center">
        {% csrf_token %}
        <td>
            <input type="hidden" name="search_string" id="search_string" value=""/>
            <input type="submit" value="Х"/>
        </td>
        </tr>
    </form>
    {% if contacts_list %}


    <table border="0" align="center" cellspacing="0">


        <tr>
            <th></th>
            <th><b>ФИО</b></th>
            <th><b>Email</b></th>
            <th><b>Телефон</b></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for contact in contacts_list %}
        <tr>
            <td>
                {% if contact.active or can_edit %}

                {% with birthday_month=contact.birthday|date:"m"|add:0 now_month=current_day|date:"m"|add:0 now_day=current_day|date:"d"|add:0 birthday_day=contact.birthday|date:"d"|add:0 now_day5=now_day|add:"5"%}

                {% if birthday_month == now_month and now_day|add:5 > birthday_day and now_day < birthday_day %}
                Дней до дня рождения: {{ birthday_day|sub:now_day }}
                {% endif %}
                {% if birthday_month == now_month and now_day == birthday_day %}
                Сегодня День рождения!
                {% endif %}
                {% endwith %}
            </td>
            <td><a href="{% url 'addressbook:detail' contact.id %}">{{ contact.lastname }} {{ contact.firstname }}
                {{ contact.fathername }}</a></td>
            <td><a href="mailto:{{ contact.email}}">{{ contact.email}}</a></td>
            <td>
                {% if contact.phone %}
                {{ contact.phone }}
                {% endif %}
                {% if contact.phone and contact.cellphone %}
                ,
                {% endif %}
                {% if contact.cellphone %}
                {{ contact.cellphone }}
                {% endif %}
            </td>
            <td><a href="{% url 'addressbook:detail' contact.id %}"> Подробнее </a></td>
            {% if can_edit %}
            <td><a href="{% url 'addressbook:edit' contact.id %}"> Редактировать </a></td>
            <td><a href="{% url 'addressbook:delete' contact.id %}">Удалить</a></td>
            {% endif %}
        </tr>

        {% endif %}
        {% endfor %}


    </table>


    {% else %}
    <div><p>Адресная книга пуста.</p></div>
    {% endif %}
    {% if can_edit %}
    <table border="0" align="center" cellspacing="10">
        <tr>
            <td><a href="{% url 'addressbook:add' %}">Добавить</a></td>
            <td><a href="{% url 'addressbook:sync_ldap' %}">Синхронизировать</a></td>
        </tr>

    </table>
    {% endif %}

    {% endblock content %}